useDynLib(TunePareto)

export(
as.interval,
allCombinations,
tunePareto,
tuneParetoClassifier,
tunePareto.knn,
tunePareto.tree,
tunePareto.randomForest,
tunePareto.svm,
tunePareto.NaiveBayes,
trainTuneParetoClassifier,
predict.TuneParetoModel,
recalculateParetoSet,
mergeTuneParetoResults,
plotDominationGraph,
plotParetoFronts2D,
plotObjectivePairs,
createObjective,
reclassError,
reclassWeightedError,
reclassSpecificity,
reclassSensitivity,
reclassConfusion,
cvError,
cvErrorVariance,
cvWeightedError,
cvSensitivity,
cvSpecificity,
cvConfusion,
reclassification,
crossValidation,
print.TuneParetoResult,
print.TuneParetoModel,
print.TuneParetoClassifier,
rankByDesirability
)
