export(
allCombinations,
tunePareto,
tunePareto.knn,
tunePareto.tree,
tunePareto.randomForest,
tunePareto.svm,
plotDominationGraph,
plotParetoFronts2D,
plotObjectivePairs,
createObjective,
reclassError,
reclassWeightedError,
reclassSpecificity,
reclassSensitivity,
cvError,
cvErrorVariance,
cvWeightedError,
cvSensitivity,
cvSpecificity,
reclassification,
crossValidation,
callClassifier,
print.TuneParetoResult
)
